USE [master]
GO
/****** Object:  Database [DataUpload]    Script Date: 17-11-2020 3.02.58 PM ******/
CREATE DATABASE [DataUpload]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataUpload', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DataUpload.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataUpload_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DataUpload_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataUpload].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataUpload]
GO
/****** Object:  Schema [master]    Script Date: 17-11-2020 3.02.58 PM ******/
CREATE SCHEMA [master]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 17-11-2020 3.02.58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [master].[DataUploadEntity]    Script Date: 17-11-2020 3.02.58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [master].[DataUploadEntity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TradeDate] [datetime] NULL,
	[ClientCode] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NULL,
	[Value] [float] NULL,
 CONSTRAINT [PK_master.DataUploadEntity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [master].[DataUploadEntity] ON 

INSERT [master].[DataUploadEntity] ([Id], [TradeDate], [ClientCode], [Quantity], [Price], [Value]) VALUES (1, CAST(N'2020-11-16T00:43:59.197' AS DateTime), N'Cl15', 1, 2500, 4)
INSERT [master].[DataUploadEntity] ([Id], [TradeDate], [ClientCode], [Quantity], [Price], [Value]) VALUES (2, CAST(N'2020-11-16T00:43:59.197' AS DateTime), N'Cl16', 2, 3600, 7)
INSERT [master].[DataUploadEntity] ([Id], [TradeDate], [ClientCode], [Quantity], [Price], [Value]) VALUES (3, CAST(N'2020-11-15T00:00:00.000' AS DateTime), N'C001', 2, 50000, 12)
SET IDENTITY_INSERT [master].[DataUploadEntity] OFF
GO
/****** Object:  StoredProcedure [master].[PROC_GetMaxId]    Script Date: 17-11-2020 3.02.58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [master].[PROC_GetMaxId]
	-- Add the parameters for the stored procedure here
	
AS
DECLARE @MaxID  INT;
BEGIN
	
	SET @MaxID = (Select Max(Id) from [master].[DataUploadEntity])
	RETURN @MaxID
   
END
GO
USE [master]
GO
